{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <h1 class="heading-content">Welcome to XYZ Bank</h1><br />
            <h2>- Your money. Your control.</h2>
            <br />
            <br />
            <h3>Why choose us?</h3><br />
            <p>- Instant Account Setup<br />
                - 24/7 Fraud Protection<br />
                - Advanced Dashboard
            </p>
            <br />
            <small class="small-text">Already have an account? <a href="{{ url_for('clients.login') }}">Login</a></small>
            <br />
            <small class="small-text">Need help? <a href="{{ url_for('main.support') }}">Contact Support</a></small>
        </div>
    </article>
{% endblock %}
